@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
}

h1,
h2,
h3,
p,
strong,
small,
li,
input,
span {
  font-family: "Instrument Sans", sans-serif !important;
  margin: 0;
}
div,
button {
  font-family: "Instrument Sans", sans-serif !important;
}

.react-ios-time-picker-btn-container {
  background: white;
}

.react-ios-time-picker-container {
  background: white;
}

.react-ios-time-picker-selected-overlay {
  background: rgba(0, 0, 0, 0.04);
}

.react-ios-time-picker-cell-inner-hour,
.react-ios-time-picker-cell-inner-minute,
.react-ios-time-picker-cell-inner-hour-format {
  color: hsl(0, 0%, 79%);
}

.react-ios-time-picker-cell-inner-hour-format-selected,
.react-ios-time-picker-cell-inner-selected {
  font-weight: 500;
  color: black;
  filter: none;
}

.react-ios-time-picker-cell-inner-hour:hover,
.react-ios-time-picker-cell-inner-minute:hover,
.react-ios-time-picker-cell-inner-hour-format:hover {
  background: #5d46e5;
  filter: none;
}

.react-ios-time-picker-btn {
  color: black;
}

.react-ios-time-picker-btn-container {
  border-bottom: 1px solid rgb(235, 235, 235);
}

.react-ios-time-picker-btn-cancel {
  font-size: 13px;
  font-weight: 500;
}

.react-ios-time-picker-popup-overlay {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.react-ios-time-picker-colon {
  color: black;
  padding-bottom: 4px;
}
